<!DOCTYPE html>
    <html lang="en">
    <head th:replace="~{fragments/header :: header('庫存')}"></head>
    <body class="bg-gray-100">
        <div th:replace="~{fragments/navbar}"></div>
        <div id="app" class="p-6">
            
            <div class="w-full flex justify-between p-4">
                <div></div>
                <div class="grid grid-cols-2 gap-5">
                    <button
                    class="px-4 py-2 rounded text-white bg-blue-500 hover:bg-blue-600"
                    @click="createInventory()">
                        新增庫存
                    </button>
                    <button 
                    class="px-4 py-2 rounded text-white bg-blue-500 hover:bg-blue-600"
                    @click="createBook()">
                        新增書籍
                    </button>
                </div>
            </div>

            <h1 class="text-2xl font-bold mb-4">在庫書籍</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div
                v-for="book in books"
                :key="book.inventory_id"
                class="grid grid-cols-1 bg-white border rounded-lg p-4 gap-1 shadow"
                >

                <div class="text-lg font-semibold">
                    {{ book.title }}
                </div>
                <div class="text-md font-semibold">
                    {{ book.author }}
                </div>
                <div class="text-sm font-semibold">
                    {{ book.isbn }}
                </div>

                <p class="mt-2 text-sm">
                    狀態:
                    <span :class="book.status === 'AVAILABLE'
                    ? 'text-green-600'
                    : 'text-red-500'">
                    {{ book.status }}
                    </span>
                </p>

                <button
                class="mt-4 px-4 py-2 rounded text-white"
                :class="book.status === 'AVAILABLE'
                ? 'bg-blue-500 hover:bg-blue-600'
                : 'bg-gray-400 cursor-not-allowed'"
                :disabled="book.status !== 'AVAILABLE'"
                @click="loanBook(book.inventory_id)"
                >
                    租借
                </button>

                </div>
            </div>

            <h1 class="text-2xl font-bold my-4">尚未歸還清單</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div
                v-for="record in borrowingRecords"
                :key="record.id"
                class="grid grid-cols-1 bg-white border rounded-lg p-4 gap-1 shadow"
                >

                <div class="text-lg font-semibold">
                    {{ record.title }}
                </div>
                <div class="text-md font-semibold">
                    作者：{{ record.author }}
                </div>
                <div class="text-sm font-semibold">
                    租借時間：{{ record.borrowing_time }}
                </div>

                <button
                    class="mt-4 px-4 py-2 rounded text-white bg-blue-500 hover:bg-blue-600"
                    @click="returnBook(record.inventory_id)"
                >
                    歸還
                </button>

                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    books: [],
                    borrowingRecords: []
                }
            },

            mounted() {
                this.fetchBooks()
                this.fetchBorrowingRecord()
            },

            methods: {

                async fetchBooks() {
                    try {
                        const res = await axios.get("/api/books")
                        this.books = res.data
                    } catch (err) {
                        console.error("fetchBooks error:", err)
                    }
                },

                async fetchBorrowingRecord() {
                    try {
                        const res = await axios.get("/api/borrowing-record")
                        this.borrowingRecords = res.data
                    } catch (err) {
                        console.error("fetchBorrowingRecord error:", err)
                    }
                },

                async loanBook(inventoryId) {
                    try {
                        await axios.post(`/api/books/${inventoryId}/loan`)
                        this.fetchBooks()
                        this.fetchBorrowingRecord()
                    } catch (err) {
                        console.error("loanBook error:", err)
                    }
                },

                async returnBook(inventoryId) {
                    try {
                        await axios.post(`/api/books/${inventoryId}/return`)
                        this.fetchBooks()
                        this.fetchBorrowingRecord()
                    } catch (err) {
                        console.error("returnBook error:", err)
                    }
                },

                async createBook() {
                    const { value: formValues } = await Swal.fire({
                        title: "新增書籍",
                        html: `
                            <div class="grid grid-col-1 justify-items-center gap-3">
                                <div>書名(必填)</div>
                                <input id="create-book-name" class="w-2/3 text-center border-solid border-black border-2 rounded-xl">
                                <div>ISBN(必填13位數字)</div>
                                <input id="create-book-isbn" class="w-2/3 text-center border-solid border-black border-2 rounded-xl">
                                <div>作者</div>
                                <input id="create-book-author" class="w-2/3 text-center border-solid border-black border-2 rounded-xl">
                                <div>介紹</div>
                                <textarea id="create-book-introduction" class="w-2/3 border-solid border-black border-2 rounded-xl"></textarea>
                            </div>
                        `,
                        focusConfirm: false,
                        preConfirm: () => {
                            return {
                                "name": document.getElementById("create-book-name").value,
                                "isbn": document.getElementById("create-book-isbn").value,
                                "author": document.getElementById("create-book-author").value,
                                "introduction": document.getElementById("create-book-introduction").value,
                            };
                        }
                    });
                    

                    try {
                        await axios.post(`/api/books`, formValues)
                        await Swal.fire({
                            title: "創建成功",
                            text: "新增書籍成功",
                            icon: "success"
                        });
                    } catch (err) {
                        await Swal.fire({
                            title: "新增失敗",
                            text: err?.response?.data?.errors[0]?.defaultMessage || "資料不正確",
                            icon: "error"
                        });
                    }
                },
            
                async createInventory() {
                    const { value: formValues } = await Swal.fire({
                        title: "新增庫存",
                        html: `
                            <div class="grid grid-col-1 justify-items-center gap-3">
                                <div>如未先添加書籍資訊請先新增書籍</div>
                                <div>ISBN(必填13位數字)</div>
                                <input id="create-inventory-isbn" class="w-2/3 text-center border-solid border-black border-2 rounded-xl">
                            </div>
                        `,
                        focusConfirm: false,
                        preConfirm: () => {
                            return {
                                "isbn": document.getElementById("create-inventory-isbn").value
                            };
                        }
                    });

                    try {
                        await axios.post(`/api/inventory`, formValues)
                        await Swal.fire({
                            title: "創建成功",
                            text: "新增庫存成功",
                            icon: "success"
                        });
                        this.fetchBooks();
                    } catch (err) {
                        await Swal.fire({
                            title: "新增失敗",
                            text: err?.response?.data?.errors[0]?.defaultMessage || "資料不正確",
                            icon: "error"
                        });
                    }
                },
            }
        }).mount("#app")
        </script>
    </body>
</html>